<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Add Instrument</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
          <button (click) = "addABlock('card')" ngbDropdownItem>Card</button>
          <button (click) = "addABlock('netbanking')" ngbDropdownItem>Netbanking</button>
        </div>
      </div>
    </div>
  </div>

<!-- block child forms will apper here -->

<div *ngFor="let paymentBlock of paymentBlockList">

<app-payment-block  #dynamicInsert type={{paymentBlock}}></app-payment-block >

</div>