<div class="row">
    <div class="col-8">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" id="dropdownForm1" ngbDropdownToggle>Add Instrument</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
          <button (click) = "addABlock('card')" ngbDropdownItem>Card</button>
          <button (click) = "addABlock('netbanking')" ngbDropdownItem>Netbanking</button>
          <button (click) = "addABlock('upi')" ngbDropdownItem>Upi</button>
          <button (click) = "addABlock('wallet')" ngbDropdownItem>Wallet</button>
          <button (click) = "addABlock('cardlessemi')" ngbDropdownItem>Cardless EMI</button>
          <button (click) = "addABlock('paylater')" ngbDropdownItem>Paylater</button>
        </div>
      </div>
    </div>
    <!-- <div class="col-4">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary"  (click) = "getBlockConf()" id="" >Apply Changes</button>
      </div>
    </div> -->

  </div>


<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let paymentBlock of service.paymentBlockList" cdkDrag>

    <app-payment-block  #dynamicInsert type={{paymentBlock.type}}  id= {{paymentBlock.id}} ></app-payment-block >

  </div>
</div>