<div
  cdkDropList
  cdkDropListOrientation="horizontal"
  class="example-list"
  (cdkDropListDropped)="drop1($event)"
>
  <button
    type="button"
    class=""
    (click)="selectBlockToEdit(block.id)"
    *ngFor="let block of paymentBlocks"

    [ngClass]="block.status ? 'example-box ex1 btn btn-light ' : 'example-box ex1 btn btn-light'"
    data-toggle="button" aria-pressed="false" autocomplete="off"
    cdkDrag
  >
    {{ block.name }}
  </button>

  <button class="btn btn-dark" (click)="addPaymentBlock()" id="">Add</button>
</div>

{{ paymentBlocks | json }}

<!-- <div class="row">
    <div class="col-8">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" id="dropdownForm1" ngbDropdownToggle>Add Instrument</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
          <button (click) = "addABlock('card')" ngbDropdownItem>Card</button>
          <button (click) = "addABlock('netbanking')" ngbDropdownItem>Netbanking</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary"  (click) = "getBlockConf()" id="" >Apply Changes</button>
      </div>
    </div>

  </div>


<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let paymentBlock of service.paymentBlockList" cdkDrag>

    <app-payment-block  #dynamicInsert type={{paymentBlock.type}}  id= {{paymentBlock.id}} ></app-payment-block >

  </div>
</div> -->
