div.scrollable {


    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

div.overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity = 50); /* required for opacity to work in IE */
}