<form [formGroup]="mainForm">

<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <div class="input-group mb-12">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Options</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" formControlName="entityType" required  >
                            <option selected value="order_id">order_id</option>
                            <option value="invoice_id">invoice_id</option>
                            <option value="subscription_id">subscription_id</option>
                            <option value="payment_link_id">payment_link_id</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group mb-12">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Options</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" >
                            <option selected value="Javascript_callback">Javascript_callback</option>
                            <option value="Callback_Url">Callback_Url</option>
                        </select>
                    </div>
                </div>


            </div>
            <br />


            <div class="row">

                <div class="col-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">key Id</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small"  formControlName="key"
                            aria-describedby="inputGroup-sizing-sm" />
                    </div>
                </div>


                <div class="col-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
                        </div>
                        <input type="text" class="form-control"  formControlName="name"  aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Theme Color</span>
                        </div>
                        <input [(colorPicker)]="color" [(ngModel)] = 'color' class="form-control" aria-label="Small" aria-describedby=""
                            [style.background]="color" formControlName="color" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">image</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" formControlName="image" 
                            aria-describedby="inputGroup-sizing-sm" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">amount</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" formControlName="amount" 
                            aria-describedby="inputGroup-sizing-sm" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">currency</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" formControlName="currency" 
                            aria-describedby="inputGroup-sizing-sm" />
                    </div>
                </div>
            </div>

            <div class="row">
               
                <div class="col-6" *ngIf="entityType">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">{{entityType}}</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" formControlName="entityId" 
                            aria-describedby="inputGroup-sizing-sm" />
                    </div>
                </div>

                <div class="col-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">timeout</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" formControlName="timeout" 
                            aria-describedby="inputGroup-sizing-sm" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <!-- <div class="input-group mb-12">
                        <div class="input-group-prepend">Description</div> 
                        <textarea id="w3review" name="w3review" rows="1" cols="25" formControlName="description" >
            </textarea>
            
                    </div> -->

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">description</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" formControlName="description" 
                            aria-describedby="inputGroup-sizing-sm" />
                    </div>
                </div>

                <div class="col-6">
                    <div class="input-group mb-12">
                        <div class="input-group-prepend">Notes</div>
                        <textarea id="w3review" name="w3review" rows="1" cols="25" formControlName="notes">
            </textarea>
            
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <app-toggel-switch name="retry" > </app-toggel-switch>
                </div>
                
                <!-- <div class="col">
                    <app-toggel-switch name="nativeotp" > </app-toggel-switch>
                </div>

                <div class="col">
                    <app-toggel-switch name="personalization" > </app-toggel-switch>
                </div> -->
            </div> 
            <!-- <div class="row">
                <div class="col">
                    <app-toggel-switch name="Recurring_Payment" > </app-toggel-switch>
                </div>
                <div class="col">
                    <app-toggel-switch name="remeber_customer" > </app-toggel-switch>
                </div>
            </div> -->
        </div>
    </div>
</div>
</form>