<div  class="scrollable">
<div class="card">

  <div class="card-body">
<!-- <app-main-block  #dynamicInsert type="credentials" id= "0100" ></app-main-block >
<app-main-block  #dynamicInsert type="configs" id= "0200" ></app-main-block >
<app-main-block  #dynamicInsert type="transaction-configs" id= "0300" ></app-main-block >
  <app-main-block  #dynamicInsert type="callback" id= "0400" ></app-main-block > -->


    <form [formGroup]="form">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  </form>
    </div></div></div>