




<div class="card container">
    <div class="row">
        <div class="col-9">
    
      <button
      type="button"
      class="btn btn-outline-primary"
      (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      {{ isCollapsed ? "expand" : "collapse" }} {{ type }}
    </button>
    <!-- <p>{{id}}</p> -->
  </div>
  
  <!-- <div class="col-3">
      <button
      type="button"
      class="btn btn-outline-primary"
      (click)="removeBlock()"
    >
      Remove
    </button>
  </div>
   -->
  </div>
  <br/>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="card">
        <div class="card-body">
      
          
       <div *ngIf="type == 'credentials'"> <app-credentials  #dynamicSubBlock> </app-credentials></div>
        <div *ngIf="type == 'configs'"> <app-configs  #dynamicSubBlock> </app-configs></div>
        <div *ngIf="type == 'transaction-configs'"> <app-additional-configs  #dynamicSubBlock> </app-additional-configs></div>
        <div *ngIf="type == 'callback'"> <app-callback-configs  #dynamicSubBlock> </app-callback-configs></div>
      </div>
      </div>
    </div>
  </div>